html {
    scroll-behavior: smooth;
}

/*body {
    padding: 0%;
    margin: 0%;
    
}*/

table {
    border: solid 2px black;
    margin: 20px;
    padding: 0%;
    border-collapse: collapse;
}

th, td{
    border:1px solid gray;
    color: black;
    padding: 8px;
    transition: 0.3s;
    margin: 0%;
}

#prvni th {
    border: solid 0px ;
    background-color: rgb(56, 102, 104);
}



#druhy {
    border: solid 1px gray;
    background-color: rgb(56, 102, 104);
}

#helena {
    background-color: red;
    color: white;
}

#i2 td {
    padding-right: 75px;
}


#a3, #c1 {
    border: none;
    font-style: italic;
    color: blue;
    background-color: gray;
    padding-left: 75px;
    position: unset;
    text-align: center;
}

#i2 .mid  {
    padding-right: 150px;
}